.my-modal{
  height: 100vh;
  width: 100vh;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
}
.body{
  font-family: "Montserrat ExtraLight", serif;
}
.banner {
  margin: 70px 0 150px;
  @media (max-width: 560px) {
    margin: 30px 0;
    height: 400px;
    justify-content: center;
    text-align: center;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 980px) {
      flex-direction: column-reverse;
    }
  }

  .side {
    width: 50%;
    @media (max-width: 980px) {
      width: 100%;
    }

    &.ban-img {
      height: 400px;
      display: flex;
      position: relative;
      @media (max-width: 980px) {
        margin-bottom: 30px;
        height: auto;
      }
      @media (max-width: 560px) {
        display: none;
      }

      .ellipse {
        position: absolute;
        border-radius: 50%;
        width: 500px;
        height: 500px;
        @media (max-width: 980px) {
          display: none;
        }

        background: linear-gradient(219.94deg,
      rgba(255, 159, 67, 0.42) 16.33%,
      rgba(255, 159, 67, 0.68) 34.49%,
      rgba(255, 159, 67, 0.88) 53.77%,
      #FF8E22 87.5%)
      }

      img {
        width: 100%;
        border-radius: 10px 20px 30px 40px/30px;

      }
    }

    &.description {
      padding-right: 40px;
      @media (max-width: 980px) {
        text-align: center;
        padding-right: 0;
      }
      @media (max-width: 560px) {
        margin-bottom: 20px;
      }

      h1 {
        color: #786df1;
        font-size: 42px;
        font-weight: 600;
        @media (max-width: 560px) {
          font-size: 30px;
          line-height: inherit;
        }
      }

      p {
        font-weight: 400;
        margin: 45px 0;
        color: #000000;
        line-height: 1.7;
        font-size: 18px;
        @media (max-width: 560px) {
          margin: 20px 0;
        }
      }

      @keyframes shadow-pulse {
      0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
        }
      100% {
          box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
        }
    }


    }
  }

}

.demo-btn {
  background-color: #f04b4c;
  color: #ffffff;
  padding: 14px 64px;
  border: 1px solid #e7eaf3;
  box-shadow: 0 3px 6px 0 rgba(140, 152, 164, 0.25);
  outline: none;
  transition: .3s;
  animation: shadow-pulse 2s infinite;
  border-radius: 4px;
  width: 100%;
  max-width: 346px;


  @media (max-width: 560px) {
    padding: 8px 0;
    width: 100%;

  }

  &:focus {
    outline: none;
  }

  img {
    max-height: 40px;
  }
}

.container{
  box-shadow: black;
}

.violet-text{
  color: #7367F0!important;
}


.demo-block{
  margin-top: 70px;
  justify-content: center;
  text-align: center;
}



.form-switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: .5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }

.form-switch input { display: none; }

.form-switch input:checked + i { background-color: #7367f0; }

.form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }

.price-block{
  width: 300px;
  height: 500px;
  text-align: center;
  border: 2px solid #7367F0;
  border-radius: 30px;
}

.video-block{
  width: 300px;
  height: 300px;
  stroke-dasharray: 50 100;
  border: solid 5px #7367F0;
  border-radius: 50%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

